In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 

import warnings
warnings.filterwarnings("ignore")

In [7]:
df= pd.read_csv('dataset.csv')
df

,City/District,Waste Type,Waste Generated (Tons/Day),Recycling Rate (%),Population Density (People/km²),Municipal Efficiency Score (1-10),Disposal Method,Cost of Waste Management (₹/Ton),Awareness Campaigns Count,Landfill Name,"Landfill Location (Lat, Long)",Landfill Capacity (Tons),Year
0,Mumbai,Plastic,6610,68,11191,9,Composting,3056,14,Mumbai Landfill,"22.4265, 77.4931",45575,2019
1,Mumbai,Organic,1181,56,11191,5,Composting,2778,12,Mumbai Landfill,"22.4265, 77.4931",45575,2019
2,Mumbai,E-Waste,8162,53,11191,8,Incineration,3390,13,Mumbai Landfill,"22.4265, 77.4931",45575,2019
3,Mumbai,Construction,8929,56,11191,5,Landfill,1498,14,Mumbai Landfill,"22.4265, 77.4931",45575,2019
4,Mumbai,Hazardous,5032,44,11191,7,Recycling,2221,16,Mumbai Landfill,"22.4265, 77.4931",45575,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
845,Gwalior,Plastic,6842,42,11280,8,Recycling,3546,15,Gwalior Landfill,"10.9566, 91.6565",54460,2023
846,Gwalior,Organic,5233,38,11280,10,Recycling,1146,5,Gwalior Landfill,"10.9566, 91.6565",54460,2023
847,Gwalior,E-Waste,9903,41,11280,7,Landfill,3260,4,Gwalior Landfill,"10.9566, 91.6565",54460,2023
848,Gwalior,Construction,7540,77,11280,6,Composting,4220,7,Gwalior Landfill,"10.9566, 91.6565",54460,2023
849,Gwalior,Hazardous,2480,58,11280,6,Composting,1081,19,Gwalior Landfill,"10.9566, 91.6565",54460,2023

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   City/District                      850 non-null    object
 1   Waste Type                         850 non-null    object
 2   Waste Generated (Tons/Day)         850 non-null    int64
 3   Recycling Rate (%)                 850 non-null    int64
 4   Population Density (People/km²)    850 non-null    int64
 5   Municipal Efficiency Score (1-10)  850 non-null    int64
 6   Disposal Method                    850 non-null    object
 7   Cost of Waste Management (₹/Ton)   850 non-null    int64
 8   Awareness Campaigns Count          850 non-null    int64
 9   Landfill Name                      850 non-null    object
 10  Landfill Location (Lat, Long)      850 non-null    object
 11  Landfill Capacity (Tons)           850 non-null    int64
 12  Year                               850 non-null    int64
dtypes: int64(8), object(5)
memory usage: 86.5+ KB

In [7]:
df.isnull().sum()

City/District                        0
Waste Type                           0
Waste Generated (Tons/Day)           0
Recycling Rate (%)                   0
Population Density (People/km²)      0
Municipal Efficiency Score (1-10)    0
Disposal Method                      0
Cost of Waste Management (₹/Ton)     0
Awareness Campaigns Count            0
Landfill Name                        0
Landfill Location (Lat, Long)        0
Landfill Capacity (Tons)             0
Year                                 0
dtype: int64

# from the isnull function we can see that their is no null values in the dataset

In [8]:
df['City/District'].unique()

array(['Mumbai', 'Delhi', 'Bengaluru', 'Chennai', 'Kolkata', 'Hyderabad',
       'Pune', 'Ahmedabad', 'Jaipur', 'Lucknow', 'Surat', 'Kanpur',
       'Nagpur', 'Patna', 'Bhopal', 'Thiruvananthapuram', 'Indore',
       'Vadodara', 'Guwahati', 'Coimbatore', 'Ranchi', 'Amritsar',
       'Jodhpur', 'Varanasi', 'Ludhiana', 'Agra', 'Meerut', 'Nashik',
       'Rajkot', 'Madurai', 'Jabalpur', 'Allahabad', 'Visakhapatnam',
       'Gwalior'], dtype=object)

In [9]:
df['city']=df['City/District'].map({'Mumbai':1,'Delhi':2,'Bengaluru':3,'Chennai':4,'Kolkata':5,'Hyderabad':6,'Pune':7,'Ahmedabad':8,'Jaipur':9,'Lucknow':10,
                                    'Surat':11,'Kanpur':12,'Nagpur':13,'Patna':14,'Bhopal':15,'Thiruvananthapuram':16,'Indore':17,'Vadodara':18,'Guwahati':19,
                                    'Coimbatore':20,'Ranchi':21,'Amritsar':22,'Jodhpur':23,'Varanasi':24,'Ludhiana':25,'Agra':26,'Meerut':27,'Nashik':28,'Rajkot':29,
                                    'Madurai':30,'Jabalpur':31,'Allahabad':32,'Visakhapatnam':33,'Gwalior':34})

In [10]:
df['city'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34])

In [11]:
df=df.drop("City/District",axis=1)

# converted city/district column as city on the basis of 
'Mumbai':1,'Delhi':2,'Bengaluru':3,'Chennai':4,'Kolkata':5,'Hyderabad':6,'Pune':7,'Ahmedabad':8,'Jaipur':9,'Lucknow':10,
'Surat':11,'Kanpur':12,'Nagpur':13,'Patna':14,'Bhopal':15,'Thiruvananthapuram':16,'Indore':17,'Vadodara':18,'Guwahati':19,
'Coimbatore':20,'Ranchi':21,'Amritsar':22,'Jodhpur':23,'Varanasi':24,'Ludhiana':25,'Agra':26,'Meerut':27,'Nashik':28,'Rajkot':29,
'Madurai':30,'Jabalpur':31,'Allahabad':32,'Visakhapatnam':33,'Gwalior':34

to preform machine learning models

In [12]:
df['Waste Type'].unique()

array(['Plastic', 'Organic', 'E-Waste', 'Construction', 'Hazardous'],
      dtype=object)

In [13]:
df['Waste Type']=df['Waste Type'].map({'Plastic':1, 'Organic':2, 'E-Waste':3, 'Construction':4, 'Hazardous':5})

converted waste type as int 'Plastic':1, 'Organic':2, 'E-Waste':3, 'Construction':4, 'Hazardous':5

In [14]:
df['Disposal Method'].unique()

array(['Composting', 'Incineration', 'Landfill', 'Recycling'],
      dtype=object)

In [15]:
df['Disposal Method']=df['Disposal Method'].map({'Composting':1, 'Incineration':2, 'Landfill':3, 'Recycling':4})

converted disposal method as int 'Composting':1, 'Incineration':2, 'Landfill':3, 'Recycling':4

In [16]:
df['Landfill Name'].unique()

array(['Mumbai Landfill', 'Delhi Landfill', 'Bengaluru Landfill',
       'Chennai Landfill', 'Kolkata Landfill', 'Hyderabad Landfill',
       'Pune Landfill', 'Ahmedabad Landfill', 'Jaipur Landfill',
       'Lucknow Landfill', 'Surat Landfill', 'Kanpur Landfill',
       'Nagpur Landfill', 'Patna Landfill', 'Bhopal Landfill',
       'Thiruvananthapuram Landfill', 'Indore Landfill',
       'Vadodara Landfill', 'Guwahati Landfill', 'Coimbatore Landfill',
       'Ranchi Landfill', 'Amritsar Landfill', 'Jodhpur Landfill',
       'Varanasi Landfill', 'Ludhiana Landfill', 'Agra Landfill',
       'Meerut Landfill', 'Nashik Landfill', 'Rajkot Landfill',
       'Madurai Landfill', 'Jabalpur Landfill', 'Allahabad Landfill',
       'Visakhapatnam Landfill', 'Gwalior Landfill'], dtype=object)

drop landfill name as it is same as the name of the city

In [17]:
df=df.drop('Landfill Name',axis=1)

In [18]:
df['Landfill Location (Lat, Long)']

0      22.4265, 77.4931
1      22.4265, 77.4931
2      22.4265, 77.4931
3      22.4265, 77.4931
4      22.4265, 77.4931
             ...
845    10.9566, 91.6565
846    10.9566, 91.6565
847    10.9566, 91.6565
848    10.9566, 91.6565
849    10.9566, 91.6565
Name: Landfill Location (Lat, Long), Length: 850, dtype: object

In [19]:
df=df.drop('Landfill Location (Lat, Long)',axis=1)

we have to drop landfill location because it not usefull in model tranning

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Waste Type                         850 non-null    int64
 1   Waste Generated (Tons/Day)         850 non-null    int64
 2   Recycling Rate (%)                 850 non-null    int64
 3   Population Density (People/km²)    850 non-null    int64
 4   Municipal Efficiency Score (1-10)  850 non-null    int64
 5   Disposal Method                    850 non-null    int64
 6   Cost of Waste Management (₹/Ton)   850 non-null    int64
 7   Awareness Campaigns Count          850 non-null    int64
 8   Landfill Capacity (Tons)           850 non-null    int64
 9   Year                               850 non-null    int64
 10  city                               850 non-null    int64
dtypes: int64(11)
memory usage: 73.2 KB

Now all the collumns are of integer type

In [22]:
df

,Waste Type,Waste Generated (Tons/Day),Recycling Rate (%),Population Density (People/km²),Municipal Efficiency Score (1-10),Disposal Method,Cost of Waste Management (₹/Ton),Awareness Campaigns Count,Landfill Capacity (Tons),Year,city
0,1,6610,68,11191,9,1,3056,14,45575,2019,1
1,2,1181,56,11191,5,1,2778,12,45575,2019,1
2,3,8162,53,11191,8,2,3390,13,45575,2019,1
3,4,8929,56,11191,5,3,1498,14,45575,2019,1
4,5,5032,44,11191,7,4,2221,16,45575,2019,1
...,...,...,...,...,...,...,...,...,...,...,...
845,1,6842,42,11280,8,4,3546,15,54460,2023,34
846,2,5233,38,11280,10,4,1146,5,54460,2023,34
847,3,9903,41,11280,7,3,3260,4,54460,2023,34
848,4,7540,77,11280,6,1,4220,7,54460,2023,34
849,5,2480,58,11280,6,1,1081,19,54460,2023,34

In [23]:
df.to_csv('processed_dataset.csv', index=False)
print("DataFrame saved as processed_dataset.csv")

DataFrame saved as processed_dataset.csv